body {
    background-color: #FFFFFF;
}

table {
    border-collapse: collapse;
    border: 1px solid #EEEEEE;
    background-color: #FFFFFF;
    margin: 0 auto;
}

td {
    border: 1px solid #EEEEEE;
    background-color: #FFFFFF;
    width: 9px;
    height: 9px;
}

footer {
    margin-top: 50px;
    margin-left: 20px;
}

#speed_value {
    width: 100px;
}

.horizontal_center_inner {
    display: inline-block;
}

.horizontal_center_outer {
    text-align: center;
}

.grid_selector {
    margin-top: 10px;
}

.dimension_selector {
    margin-top: 10px;
}
