body {
    background-color: #EEEEEE;
}

table, td {
    border: none;
    border-collapse: collapse;
    background-color: #FFFFFF;
}

table {
    margin: 0 auto;
}

td {
    width: 8px;
    height: 8px;
}

.speed_selector {
    width: 100px;
}

.horizontal_center_inner {
    display: inline-block;
}

.horizontal_center_outer {
    text-align: center;
}
